//
// Button default settings
//

.btn {
	display: inline-block;
	font-family: $btn-font-family;
	font-weight: $btn-font-weight;
	text-align: center;
	vertical-align: middle;
	user-select: none;
	background-color: transparent;
	border: PxToEm($btn-border-width, $btn-font-size) solid transparent;
	@include button-size;
	transition: $btn-transition;
	text-transform: uppercase;

	&--rounded-sm {
		border-radius: PxToEm($btn-border-radius-sm, $btn-font-size);
	}

	&--rounded-lg {
		border-radius: PxToEm($btn-border-radius-lg, $btn-font-size);
	}

	&__icon {
		margin-right: PxToEm(20, $btn-font-size);
		margin-left: PxToEm(-20, $btn-font-size);
	}

	/* &:focus,
	&.focus {
		outline: 0;
		box-shadow: $btn-focus-box-shadow;
	} */

	// Disabled comes first so active can properly restyle
	/* 	&.disabled,
	&:disabled {
		opacity: $btn-disabled-opacity;
		@include box-shadow(none);
	}

	// Opinionated: add "hand" cursor to non-disabled .btn elements
	&:not(:disabled):not(.disabled) {
		cursor: pointer;
	}

	&:not(:disabled):not(.disabled):active,
	&:not(:disabled):not(.disabled).active {
		@include box-shadow($btn-active-box-shadow);

		&:focus {
			@include box-shadow($btn-focus-box-shadow, $btn-active-box-shadow);
		}
	} */
}

// Button variants creation
//
// Loops which create button variants css selectors

@each $color, $value in $button-colors {
	.btn--#{$color} {
		@include button-variant-bg($value, $value);
	}
}

@each $color, $value in $button-colors {
	.btn--outline-#{$color} {
		@include button-variant-outline($value);
	}
}

// Social buttons
//
// Loops which create social buttons css selectors

@each $social-name, $value in $social-colors {
	.btn--#{$social-name} {
		@include button-variant-social($value);
	}
}
