// Alert variants
//
//

@mixin alert-variant-normal(
	$background,
	$hover-background: lighten($background, 5%)
) {
	color: $color--light;
	background: $background;

	&:hover {
		background: $hover-background;
	}
}

@mixin alert-variant-light($color, $background) {
	color: $color;
	background: $background;
	border-width: PxToEm($alert--border-size, $alert-text--font-size);
	border-style: $alert--border-style;
	border-color: $color;
}
