// Button variants
//
//

@mixin button-variant-bg(
	$background,
	$border,
	$hover-background: lighten($background, 7.5%),
	$hover-border: lighten($border, 10%)
) {
	color: #ffffff;
	background: $background;
	border-color: $border;

	&:hover {
		background: $hover-background;
		border-color: $hover-background;
	}
}

@mixin button-variant-outline($color, $hover-background: $color) {
	color: $color;
	border-color: $color;

	&:hover {
		color: #ffffff;
		background: $hover-background;
	}
}

@mixin button-variant-social(
	$background,
	$hover-background: lighten($background, 7.5%)
) {
	display: flex;
	align-items: center;
	color: #ffffff;
	background: $background;
	letter-spacing: PxToEm(2, $btn-font-size);
	@include button-size-lg;

	&:hover {
		background: $hover-background;
	}
}

//
// Button size mixin
//

@mixin button-size-lg {
	padding: PxToEm($btn-padding-y-large, $btn-font-size)
		PxToEm($btn-padding-x-large, $btn-font-size);
}

@mixin button-size-sm {
	padding: PxToEm($btn-padding-y-small, $btn-font-size)
		PxToEm($btn-padding-x-small, $btn-font-size);
}
