// Color yiq function
//
// Change text color - depend on contrast of background

@function color-yiq($color) {
	$r: red($color);
	$g: green($color);
	$b: blue($color);

	$yiq: (($r * 299) + ($g * 587) + ($b * 114)) / 1000;

	@if ($yiq >= 150) {
		@return #000000;
	} @else {
		@return #ffffff;
	}
}

// Px to Em function
//
// Change px unit to em unit

@function PxToEm($pixels, $context) {
	@return ($pixels / $context) + em;
}

// PX to REM function
//
// Change PX unit to REM unit

@function PxToRem($pixels, $context: $font-size-default) {
	@return ($pixels / $context) + rem;
}
