//
// Buttons settings
//

$btn-padding-y: em(55) !default;
$btn-padding-x: em(16) !default;
$btn-line-height: 1.3 !default;
$btn-font-size: rem(12) !default;

$btn-font-family: 'Lato' !default;
$btn-font-weight: 700 !default;

$btn-border-width: em(2) !default;

$btn-transition: all 0.15s ease-in-out !default;
