//
// Buttons settings
//

// Basic button sizes
//
// Sizes for basic button variants

$btn-padding-y-large: 16 !default;
$btn-padding-x-large: 55 !default;

$btn-padding-y-small: 15 !default;
$btn-padding-x-small: 20 !default;

$btn-line-height: 1.3 !default;

// Button font settings

$btn-font-size: 12 !default;
$btn-font-family: 'Lato' !default;
$btn-font-weight: 700 !default;

// Button border

$btn-border-width: 2 !default;
$btn-border-radius-sm: 5 !default;
$btn-border-radius-lg: 100 !default;

// Button animation

$btn-transition: all 0.15s ease-in-out !default;
