// Global colors pallete
// ------------------
// Colors for styling every element on website

$color--red: #ff5063 !default;
$color--pink: #e2548d !default;
$color--grey: #718093 !default;
$color--green: #00b06c !default;
$color--black: #122748 !default;
$color--purple: #7740a2 !default;
$color--blue: #13b5ea !default;
$color--yellow: #f69d35 !default;

// Typography colors
// ------------------
// Colors for styling text

$color--light: #ffffff !default;
$color--dark: #758db0 !default;

// Social colors
// ------------------
// Colors for styling social things

$color--facebook: #2a66b3 !default;
$color--twitter: #35bbec !default;
$color--google: #e55644 !default;
